*{
    margin:0;
    box-sizing: border-box;

}

body {
    color: #747474;
    font-family:Roboto,Arial,sans-serif;
    font-weight: 400; 
}
/* mise en page du head  */
.head {
    background-color: #fff;
    width: 100%;
    position: fixed;
    box-shadow: 10px 5px 5px rgb(251, 250, 250);
    position:fixed;
    top: 0;
   }

.topbar {
    display: flex;
    justify-content: space-around;
    position: relative;
}

nav {
    position: absolute;
    top: 35px;
    right: 140px;
}

nav ul li a {
    margin: 10px;
    text-decoration: none;
    color: #ababab;
}

nav li {
    list-style: none;
    display:inline-block;
}

nav li ul {
  list-style: none;
}

nav ul li ul { 
    display:none; 
} 

nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:10px;
    margin-left:-100px;
}
nav ul li:hover ul li {
    float:none;
    color: #00b39b;
}


a:hover{
    color: #00b39b; 
}

/* Mise en page du main */

h1 {
    font-size :2.125rem;
    color: #00b39b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.section1 {
    margin: 100px 150px 0 150px ;
}
.logo img{
    max-width: 9%;
    margin-top: 10px;
    margin-left:  100%;
}

.element1 {
    display: flex;
    flex-wrap: wrap;
}

.element1.logo {
 margin-left: 50%;
}

.para1  {
    margin-top: 25px;
    text-align: center;
}

.para {
    margin: 45px 10px 0 9px;
    display: flex;
    justify-content: space-between;
    line-height: 1.75;
    font-weight: 400;
}

.sect1 {
    height: 345px;
    display: flex;
    margin-top: 59px;
    justify-content: space-between;
    font-size: 1rem;
}

.sect1 img {
    width: 20px;
    height: 20px;
}


.box1 {
    background-color: #00b39b;
    color: #fff;
    padding: 47px;
    width: 32%;
    border-radius: 10px;
}


.box2 {
    background-color: #3d83df;
    color: #fff;
    padding: 47px;
    width: 32%;
    border-radius: 10px;
}

.box3 {
    background-color: #1b1c1e;
    color: #fff;
    padding: 47px;
    width: 32%;
    border-radius: 10px;    
}

.sect1 h2 {
    padding-bottom: 10px;
}

.sect1 p {
    padding-top: 8px;
    padding-bottom: 5.2em;
}

.sect1 select {
   border: none;
   text-decoration: underline;
   background-color: inherit;
   color: #fff;
}

.box3 select {
    margin: 5px;
}

.box4{
    padding-top: 4em;
}

.box4 h1 {
    float: left;
    width: 31%;
    font-size: 1.6em;
    margin: 0.2em 0 0.3em;
    padding-right: 1em;
}

.setlogo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 67%;
}

.setlogo li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: auto;
}

.setlogo li img {
    width: 6.2em;
    margin: 1rm;
}

.sect2 {
    background: #e5faf8;
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
}

.col_logo {
    grid-row: 2;
    margin-top: .0125rem;
}

.col1 {
    grid-column: 1/2;
    margin: 0 0 0 7rem;
}

.sect2 h1, p {
    margin-top: 2rem;
   
   
}

.sect2 {
    font-size: .9125em;
}


.col2 {
    grid-row: 1;
    grid-column: 3;
    background-color: #fff;
    height: 90%;
    width: 175%;
    margin-top: 3rem;
    margin-left: .5rem;
    padding: 13px;
    border-radius: 10px;
    text-align: center;
}

.col2 img {
   margin-left: .5rem;
   width: 18%;
}

.col3 {
    grid-row: 2;
    grid-column: 3;
    background-color: #fff;
    margin-top: 2rem;
    margin-left: .7rem;
    height: 70%;
    width: 175%;
    padding: 13px;
    border-radius: 10px;
    text-align: center;
}

.col3 img {
    margin-left: .5rem;
    width: 18%;
 }

.col4 {
    grid-column: 5;
    background-color: #fff;
    height: 90%;
    width: 152%;
    padding: 13px;
    margin-top: 1rem;
    border-radius: 10px;
    text-align: center;
}

.col4 img {
    margin-left: .5rem;;
    width: 18%;
 }

.col5 {
    grid-row: 2;
    grid-column: 5;
    background-color: #fff;
    margin-top: 0.2rem;
    height: 70%;
    width: 152%;
    padding: 13px;
    border-radius: 10px;
    text-align: center;
}

.col5 img {
    margin-left: .5rem;
    width: 18%;
 }


/* Article */

.art1 {
    text-align: center;
    margin: 0 24rem 0 24rem;
}

.art1 p {
    margin: 1.8rem 0 1.8rem 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem 0 10rem 6rem;
    column-gap: 0.1rem;
    row-gap: 5rem;
}

.container img {
    width: 85%;;
}

.col-1{
    background-color: #fff;
    position: relative;
    z-index: -1;
}



.col-1 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-1 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}

.col-2{
    background-color: #fff;
    position: relative;
    z-index: -1;
}


.col-2 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-2 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}

.col-3{
    background-color: #fff;
    position: relative;
    z-index: -1;
}


.col-3 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-3 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}

.col-4{
    background-color: #fff;
    position: relative;
    z-index: -1;
}


.col-4 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-4 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}


.col-5{
    background-color: #fff;
    position: relative;
    z-index: -1;
}

.col-5 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-5 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}

.col-6{
    background-color: #fff;
    position: relative;
    z-index: -1;
}


.col-6 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-6 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}

.col-7{
    background-color: #fff;
    position: relative;
    z-index: -1;
}


.col-7 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-7 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}

.col-8{
    background-color: #fff;
    position: relative;
    z-index: -1;
}


.col-8 h6 {
    position: absolute;
    left : 10rem;
    top: 19.5rem;
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.col-8 h3 {
 position: absolute;
 top: 20rem;
 left: 2rem;
 color: #747474;
 font-size: .9rem;
}

.last_col {
    text-align: center;
    margin-bottom: 6rem;
}

.last_col h1 {
    padding: 30px;
    color: #333;
    font-weight: lighter;
}

.last_col a {
    background-color: #3d83df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: .8rem;
}

footer {
    text-align: center;
    margin: 2rem 4rem 2rem 2rem;
    font-size: .8rem;
    border-top: 1px solid #eef2f2;
}
footer a {
    text-decoration: none;
    color: #3d83df;
}

footer a:hover {
    text-decoration: underline;
    color: #3d83df;
}
