*{
    margin:0;
    box-sizing: border-box;
}

.head {
    background-color: white;
    width: 100%;
    position: fixed;
    box-shadow: 10px 5px 5px red    ;
    
}

.topbar {
    display: flex;
    justify-content: space-around;
    position: relative;
}

nav {
    position: absolute;
    top: 35px;
    right: 140px;
}

nav ul li a {
    margin: 10px;
    text-decoration: none;
    color: #ababab;
}

nav li {
    list-style: none;
    display:inline-block;
}

nav li ul {
  list-style: none;
}

nav ul li ul { 
    display:none; 
} 

nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:10px;
    margin-left:-100px;
}
nav ul li:hover ul li {
    float:none;
    color: #00b39b;
}


a:hover{
    color: #00b39b; 
}


